/* section1 */
.hero {
      position: relative;
      height: 90vh;
      background: url('../img/highlight-1.jpeg') center/cover no-repeat;
    }

    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.45);
    }

    .hero-content {
      position: relative;
      z-index: 2;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }

    .hero h1 {
      font-size: 4rem;
      font-weight: 700;
    }

    .btn-green {
      background-color: #0a7c3a;
      color: #fff;
      border-radius: 4px;
      padding: 10px 20px;
    }

    .btn-green:hover {
      background-color: #06632e;
    }
    .inquiry-section {
  background: linear-gradient(135deg, #1b5e20, #2e7d32);
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;
}


/* section2  */
.inquiry-section::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 120px;
  background: #f5f5f5;
  border-top-left-radius: 100% 60px;
  border-top-right-radius: 100% 60px;
}

/* card styling */
.inquiry-card {
  max-width: 700px;
  border-radius: 10px;
}

/* input height consistency */
.input-group .form-control,
.input-group .input-group-text,
.input-group .btn {
  height: 55px;
}
/* section 3 */
.complaint-box {
      background-color: #dfeee3;
      border: 2px dashed #c3dbc9;
      padding: 50px 20px;
      text-align: center;
      border-radius: 6px;
    }

    .icon-box {
      width: 60px;
      height: 60px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .btn-custom {
      background-color: #0b5d2a;
      color: #fff;
      padding: 12px 30px;
      font-weight: 600;
      border-radius: 4px;
    }

    .btn-custom:hover {
      background-color: #08491f;
      color: #fff;
    }